<h1>商品一覧</h1>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>価格</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %>円</td>
        <td><%= link_to '詳細を見る', new_cart_item_path(product_id: product.id) %></td>
        <td><%= link_to '削除', product, data: {"turbo-method": :delete} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'カートを見る', cart_path(current_cart), id: "cart" %>
<br>
<%= link_to '商品を登録', new_product_path %>
